Caroussel.xcodeproj/project.xcworkspace/xcuserdata/fl0.xcuserdatad/WorkspaceSettings.xcsettings
Caroussel.xcodeproj/xcuserdata/fl0.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Caroussel.xcodeproj/xcuserdata/fl0.xcuserdatad/xcschemes/Caroussel.xcscheme
Caroussel.xcodeproj/xcuserdata/fl0.xcuserdatad/xcschemes/xcschememanagement.plist
